<div class="authorspage">
    <h1>Authors</h1>
    <% @authors.each do |author| %>
        <div class="author">
            <h2><%= link_to author.name, author %></h2>
        </div>
    <% end %>
</div>

<%= link_to "Back to Books", root_path %>