/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
    --primary-color: #D4D2D5;
    --secondary-color: #1b192a;
    --accent-color: #35cbc8;
    --danger-color: #c93864;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

button, input[type="submit"] {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

input, textarea {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0.1rem, rgba(240, 248, 255, 0.25), solid;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

select {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 0.1rem, rgba(240, 248, 255, 0.25), solid;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

label {
    font-weight: bold;
}

h1 {
    font-style: italic;
}

.homepage {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer, a {
    margin: 0.5rem;
}

.bookpage, .authorspage, .genrespage {
    margin-left: 1rem;
}

.author {
    display: flex;
    align-items: center;
}

.author h2 {
    margin-right: 1rem;
}

.danger {
    background-color: var(--danger-color);
}
